

#menu {
  background-color: rgba(200, 200, 200, 0.6);
  padding: 25px;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}
#menu h2 {
  font-size: 50px;
}
#menu button.play {
  font-size: 20px;
  padding: 10px;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  width: 100px;
  transition: width 0.2s ease-in-out;
}
#menu button.play:hover {
  cursor: hover;
  width: 150px;
  transition: width 0.2s ease-in-out;
}

body {
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
